In [15]:
import pandas as pd

In [19]:
data = {
    'ID': [1,2,3,4,5,6],
    'Name': ['Manish','Ram','Shyam','Govind','Guru','Aman'],
    'Age' :[22,23,26,25,21,27],
    'State': ['Goa','Maharastra','MP','UP','J&K','Gujrat'],
    'Sales':[200,400,300,400,600,800]
}

In [20]:
df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

Original Dataset:
   ID    Name  Age       State  Sales
0   1  Manish   22         Goa    200
1   2     Ram   23  Maharastra    400
2   3   Shyam   26          MP    300
3   4  Govind   25          UP    400
4   5    Guru   21         J&K    600
5   6    Aman   27      Gujrat    800

In [21]:
df['Name_Upper'] = df['Name'].str.upper()
print("\nCharacter Map (Uppercase Names):")
print(df[['ID','Name','Name_Upper']])

Character Map (Uppercase Names):
   ID    Name Name_Upper
0   1  Manish     MANISH
1   2     Ram        RAM
2   3   Shyam      SHYAM
3   4  Govind     GOVIND
4   5    Guru       GURU
5   6    Aman       AMAN

In [24]:
#Multicast: Create two copies of the dataset
df_copy1 = df.copy()
df_copy2 = df.copy()

df_copy1['Sales']*=1.1
df_copy2['Age'] +=5

print("\nMulticast (Modified Copies):")
print("Copy 1 (Sales Increased):")
print(df_copy1)
print("\nCopy 2 (Age Increased):")
print(df_copy2)

Multicast (Modified Copies):
Copy 1 (Sales Increased):
   ID    Name  Age       State  Sales Name_Upper
0   1  Manish   22         Goa  220.0     MANISH
1   2     Ram   23  Maharastra  440.0        RAM
2   3   Shyam   26          MP  330.0      SHYAM
3   4  Govind   25          UP  440.0     GOVIND
4   5    Guru   21         J&K  660.0       GURU
5   6    Aman   27      Gujrat  880.0       AMAN

Copy 2 (Age Increased):
   ID    Name  Age       State  Sales Name_Upper
0   1  Manish   27         Goa    200     MANISH
1   2     Ram   28  Maharastra    400        RAM
2   3   Shyam   31          MP    300      SHYAM
3   4  Govind   30          UP    400     GOVIND
4   5    Guru   26         J&K    600       GURU
5   6    Aman   32      Gujrat    800       AMAN

In [28]:
#Conditional Split : Sales>400
high_sales = df[df['Sales']>400]
low_sales = df[df['Sales']<=400]
print("\nConditinal Split:")
print("High Sales:")
print(high_sales)
print("\nLow Sales:")
print(low_sales)

Conditinal Split:
High Sales:
   ID  Name  Age   State  Sales Name_Upper
4   5  Guru   21     J&K    600       GURU
5   6  Aman   27  Gujrat    800       AMAN

Low Sales:
   ID    Name  Age       State  Sales Name_Upper
0   1  Manish   22         Goa    200     MANISH
1   2     Ram   23  Maharastra    400        RAM
2   3   Shyam   26          MP    300      SHYAM
3   4  Govind   25          UP    400     GOVIND

In [31]:
#Aggregatio
#Description: Aggregation data, e.g., calculate total sales by country.
#Aggregation: Total sales by country
agg_df = df.groupby('State')['Sales'].sum().reset_index()
print("\nAggregation (Total Sales by Country):")
print(agg_df)

Aggregation (Total Sales by Country):
        State  Sales
0         Goa    200
1      Gujrat    800
2         J&K    600
3          MP    300
4  Maharastra    400
5          UP    400

In [33]:
#5. Sort
#Description: Sort the dataset by Sales in descending order.
sorted_df=df.sort_values(by='Sales', ascending=False)
print("\nSort (Descending Sales):")
print(sorted_df)

Sort (Descending Sales):
   ID    Name  Age       State  Sales Name_Upper
5   6    Aman   27      Gujrat    800       AMAN
4   5    Guru   21         J&K    600       GURU
1   2     Ram   23  Maharastra    400        RAM
3   4  Govind   25          UP    400     GOVIND
2   3   Shyam   26          MP    300      SHYAM
0   1  Manish   22         Goa    200     MANISH

In [35]:
#Derived Column: Category sales as 'High' or 'Low'
df['Sales_Category'] = df['Sales'].apply(lambda x:'High' if x>300 else 'Low')
print("\nDerived Column (Sales Category):")
print(df[['ID','Name','Sales','Sales_Category']])

Derived Column (Sales Category):
   ID    Name  Sales Sales_Category
0   1  Manish    200            Low
1   2     Ram    400           High
2   3   Shyam    300            Low
3   4  Govind    400           High
4   5    Guru    600           High
5   6    Aman    800           High